@import "tailwindcss";

@theme {
  /* ===== فونت ===== */
  --font-sans: "Vazirmatn", sans-serif;
  /* ===== رنگ‌های سبز زمردی ===== */
  --color-emerald-dark: #0A3D32;
  --color-emerald-medium: #145A46;
  --color-emerald-light: #1E7A5E;

  /* ===== رنگ‌های طلایی ===== */
  --color-gold: #C99A3B;
  --color-gold-light: #E8C97A;
  --color-gold-soft: #F2E6CE;

  /* ===== رنگ‌های خنثی ===== */
  --color-cream: #FCFAF5;
}

body {
  background-color: var(--color-cream);
  color: #1A1A1A;
}

::selection {
  background: var(--color-gold);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}